@font-face {
    font-family: andresValencia;
  
    /* Nombre que le das a tu fuente */
    src: url('./../../fonts/lucidafaxItalic/lucidafaxItalic.ttf') format("truetype");
  
    /* Ruta a tu fuente */
  }
  
  @font-face {
    font-family: salonDeBelleza;
  
    /* Nombre que le das a tu fuente */
    src: url('./../../fonts/isocteurregular/isocteurregular.ttf') format("truetype");
  
    /* Ruta a tu fuente */
  }
  