@font-face {
    font-family: andresValencia;   
    src: url('./../../fonts/lucidafaxItalic/lucidafaxItalic.ttf') format("truetype");    
  }
  
  @font-face {
    font-family: salonDeBelleza;    
    src: url('./../../fonts/isocteurregular/isocteurregular.ttf') format("truetype");
  
  }
  