/*General*/
* {
    margin: 0 auto;
    padding: 0;
    font-size: 1.1em;
    // border: 2px solid blue;
    
    
  }
  body {

    width: 100vw;
    height: auto;

    background-color: $clr-blanco2;
   

}

.logoWhatsapp {
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  -webkit-filter: drop-shadow(0px 0px 5px $clr-blanco2);

}

/* Efecto de pulso */
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.pulse {

  animation: pulse 1s infinite;
  transition: transform 0.3s;
}