/*GENERAL @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 1.1em;


body {
  width: 100%;
  min-height: 100vh;
  background-color: $clr-blanco2;
  // border: 5px dashed red;

  .contenedor{
    width: 100%;
    min-height: 100vh;
    // border: 5px dashed blue;
  }
}
}

.logoWhatsapp {
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  -webkit-filter: drop-shadow(0px 0px 5px $clr-blanco2);
}

/* Efecto de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1s infinite;
  transition: transform 0.3s;
}
