header {
   
    height: 8rem;
    margin: 0 auto;
    padding: 1rem;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
  
    

    //Buscador
    .search-banner {
      background-color: $clr-verde3;
    
     
      padding: 0.3rem;
    //  margin-left: 40vw;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .search-container {
      display: flex;
      align-items: center;
      border: 1px solid $clr-verde0;
    
    
      border-radius: 50px;
      background-color: $clr-blanco;
      padding: 5px;
    }
    
    .search-icon {
      width: 100%;
      max-width: 1.5rem;
      margin-right: 10px;
    
      
    }
    
    .search-input {
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 25px;
      font-size: 1rem;
      flex-grow: 1;
      width: 100%;
      max-width: 7rem;
      
    
      &::placeholder {
        color: #6c757d;
    
        
      }
    }
    
    
  
  
  #logo {
   
    width: 100%;
    max-width: 7rem;
  
    /* Box Modeling */
    margin: 0px auto;
    // margin-right: 1px;
    // margin-left: 0vw;
    padding: 0px;
    display: block;
  }
  
  #titulo {
    
    width: fit-content;
    height: 8rem;
    text-align: center;
    padding-bottom: 0px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 3vw;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-family: andresValencia;
      line-height: 1;
      font-weight: 10;
    
      font-size: clamp(45px, 6vw, 100px);
    
      
    
      /* Box Model */
      padding: 0px;
      margin: 0px;
    }
    
    h2 {
      height: calmp(1.5rem,2.5rem,3.5rem);
      width: 100%;
      max-width: calmp(25rem,35rem,40rem);
      font-family: salonDeBelleza;
      line-height: 1;
      font-weight: 400;
     
      font-size: clamp(25px, 4vw, 50px);
      color: $clr-blanco;
      background-color: $clr-verde0;
    
      /* Box Model */
      padding: 0px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  }


#navbar {
  width: fit-content;
  
    /* margin: 0 auto;
    padding: 5px;
    margin: 5px; */
  
    grid-area: nav;
    font-family: andresValencia;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    white-space: nowrap;
    height: auto;
    width: fit-content\;
  }
  
  .navbar-toggler {
    border-color: $clr-verde0;
    color: $clr-verde0;
  }
  .navbar-nav .nav-link{
    color: $clr-blanco;
  }
  
  ul li {
    border: 2px solid rgb(13, 131, 97);
    border-radius: 20px;
    display: inline-block;
  
    /* Boxmodel */
    padding: 5px;
    margin: 5px;
    background-color:$clr-verde0;
    a{
        color: $clr-blanco;
      }
  }
   
  