/*MAIN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
main {
  width: 82.5%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 0px;
  grid-area: main;

  article {
    img {
      box-shadow: 15px 20px 40px $clr-negro;
    }
  }
}

article {
  width: 100%;
  max-width: 55rem;
  
  height: auto;
  margin: 0 auto;
  padding: 2vh;
  display: inline-block;
}

main article .fotoPerfil {
  max-width: 10rem;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

main article img {
  max-width: 200px;
  width: 100%;
  height: auto;
  padding: 0px;
  border-radius: 50px;
  border: 2px solid $clr-verde-1;
  margin: 5px;
  left: 2px;
  display: inline-block;
  justify-content: center;
}

article p {
  font-family: salonDeBelleza;
}

p {
  margin-bottom: 15px;
}

#bienvenida {
  display: flex;
}

.bienvenida {
  font-size: 1.5em;
  font-weight: bold;
  color: $clr-blanco;
  text-align: center;
  margin-bottom: 20px;
}

.seccion-titulo {
  font-size: 1.3em;
  font-weight: bold;
  color: $clr-blanco;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid $clr-rojo;
  padding-bottom: 5px;
}

.seccion-titulo + p {
  margin-top: 10px;
}

p + .seccion-titulo {
  margin-top: 30px;
}

.fotosInicio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
