/* RESPONSIVE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (max-width:768px) {
  .contenedor {
    
    background-color: $clr-gris;
    font-size: 0.6em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
      "header"
      "nav"
      "aside"
      "main"
      "footer";
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;    
    #titulo {
      display: none;
    }

    a, #logo, .search-banner {
      margin: unset;
    }
  }

  aside {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  aside .carousel {
    object-fit: cover;
  }

  aside .asideimg {
    width: 100%;
    max-width: 7rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .carousel-inner .carousel-item img {
    max-height: clamp(10vh, 45vh, 60vh);
  }

  main {
    width: 99%;
    
    article {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    article .fotoPerfil {
      margin: 0 auto;
      width: 100%;
    }

    #bienvenida {
      display: flex;
      flex-direction: column;
    }

    .calendario {
      font-size: 70%;
    }
  }
}

@media (min-width:769px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
      "header header header"
      "nav nav nav"
      "aside main main"
      "aside main main"
      "footer footer footer";
  }

  aside {
    width: 15vw;
    height: fit-content;
  }
}
