
/* SERVICIOS CSS */

#lista-precios {
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    background-color: $clr-verde-3;
    border: 2px solid $clr-verde0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px $clr-verde-2;
  
    h3 {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  
  .categoria-servicio {
    margin-bottom: 30px;
  
    h4 {
      margin-bottom: 10px;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      padding: 5px 0;
      font-size: 1rem;
    }
  }