@charset "UTF-8";
/*GENERAL @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.1em;
}
html body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
}
html body .contenedor {
  width: 100%;
  min-height: 100vh;
}

.logoWhatsapp {
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  -webkit-filter: drop-shadow(0px 0px 5px rgb(240, 240, 240));
}

/* Efecto de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation: pulse 1s infinite;
  transition: transform 0.3s;
}

/*FONTS CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@font-face {
  font-family: andresValencia;
  src: url("./../../fonts/lucidafaxItalic/lucidafaxItalic.ttf") format("truetype");
}
@font-face {
  font-family: salonDeBelleza;
  src: url("./../../fonts/isocteurregular/isocteurregular.ttf") format("truetype");
}
/*HEADER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
header {
  height: 8rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}
header .search-banner {
  background-color: rgb(67, 152, 109);
  padding: 0.3rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search-container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(40, 109, 73);
  border-radius: 50px;
  background-color: #f1f5f9;
  padding: 5px;
}
header .search-icon {
  width: 100%;
  max-width: 1.5rem;
  margin-right: 10px;
}
header .search-input {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 25px;
  font-size: 1rem;
  flex-grow: 1;
  width: 100%;
  max-width: 7rem;
}
header .search-input::placeholder {
  color: rgb(234, 235, 231);
}
header #logo {
  width: 100%;
  max-width: 7rem;
  margin: 0px auto;
  padding: 0px;
  display: block;
}
header #titulo {
  width: fit-content;
  height: 8rem;
  text-align: center;
  padding-bottom: 0px;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header #titulo h1 {
  font-family: andresValencia;
  line-height: 1;
  font-weight: 10;
  font-size: clamp(45px, 6vw, 100px);
  padding: 0px;
  margin: 0px;
}
header #titulo h2 {
  height: 2.5rem;
  width: 100%;
  max-width: 35rem;
  font-family: salonDeBelleza;
  line-height: 1;
  font-weight: 400;
  font-size: clamp(25px, 4vw, 50px);
  color: #f1f5f9;
  background-color: rgb(40, 109, 73);
  padding: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  width: fit-content;
  grid-area: nav;
  font-family: andresValencia;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  white-space: nowrap;
  height: auto;
  width: fit-content;
}

.navbar-toggler {
  border-color: rgb(40, 109, 73);
  color: rgb(40, 109, 73);
}

.navbar-nav .nav-link {
  color: #f1f5f9;
}

ul li {
  border: 2px solid rgb(67, 152, 109);
  border-radius: 20px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: rgb(40, 109, 73);
}
ul li a {
  color: #f1f5f9;
}

#navbarNav li:hover {
  box-shadow: 0 0 10px rgb(20, 20, 20);
}

/*ASIDE CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
aside {
  grid-area: aside;
  width: auto;
  height: 100%;
  max-height: 50vh;
  margin: 5px;
}

aside img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/*MAIN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
main {
  width: 82.5%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 0px;
  grid-area: main;
}
main article img {
  box-shadow: 15px 20px 40px rgb(20, 20, 20);
}

article {
  width: 100%;
  max-width: 55rem;
  height: auto;
  margin: 0 auto;
  padding: 2vh;
  display: inline-block;
}

main article .fotoPerfil {
  max-width: 10rem;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

main article img {
  max-width: 200px;
  width: 100%;
  height: auto;
  padding: 0px;
  border-radius: 50px;
  border: 2px solid rgb(33, 98, 64);
  margin: 5px;
  left: 2px;
  display: inline-block;
  justify-content: center;
}

article p {
  font-family: salonDeBelleza;
}

p {
  margin-bottom: 15px;
}

#bienvenida {
  display: flex;
}

.bienvenida {
  font-size: 1.5em;
  font-weight: bold;
  color: #f1f5f9;
  text-align: center;
  margin-bottom: 20px;
}

.seccion-titulo {
  font-size: 1.3em;
  font-weight: bold;
  color: #f1f5f9;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ff4136;
  padding-bottom: 5px;
}

.seccion-titulo + p {
  margin-top: 10px;
}

p + .seccion-titulo {
  margin-top: 30px;
}

.fotosInicio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*FOOTER CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
footer {
  height: auto;
  width: 100%;
  padding: 5px;
  margin: 0;
  text-align: center;
  background-color: rgb(40, 109, 73);
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer a img {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-filter: drop-shadow(0px 0px 1px #f1f5f9);
}
footer p {
  color: rgb(240, 240, 240);
  font-family: salonDeBelleza;
  width: fit-content;
  text-align: center;
}

/*GALERIA CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
article {
  background-color: rgb(47, 120, 82);
  border-radius: 1rem;
}

.contenedorFotos {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

article h3 {
  font-family: andresValencia;
  color: rgb(240, 240, 240);
  text-align: end;
  padding: 1rem;
}
article h2 {
  /* add styling if needed */
}
article > p {
  padding: 1rem;
  color: rgb(240, 240, 240);
  text-align: center;
}

.perfilPeluquero {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1.5em;
  box-shadow: 0px 0px 5px rgb(20, 20, 20);
  background: rgb(26, 88, 56);
  cursor: pointer;
  overflow: hidden;
  color: #f1f5f9;
  width: 100%;
  max-width: 35rem;
  min-height: 4.5rem;
  margin: 0 auto;
}
.perfilPeluquero:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.seccionPerfil {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  padding: 1vw;
  justify-content: center;
  align-items: center;
}
.seccionPerfil img {
  width: 100%;
  max-width: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 0;
}

.resenhaFoto {
  flex: 3 1 15rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
  margin: 0 auto;
  width: 90%;
}
.resenhaFoto > h2 {
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: 700;
  margin-bottom: clamp(0.35rem, 2vw, 0.55rem);
  font-family: andresValencia;
}
.resenhaFoto > p {
  font-size: clamp(1rem, 1.75vw, 1.1rem);
  font-weight: 400;
  margin: 0.4rem 0;
  font-family: salonDeBelleza;
  width: fit-content;
}
.resenhaFoto a {
  color: #f1f5f9;
}

.atributos {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0.75rem 0px 1rem 0px;
}

.atributo {
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.9375rem;
  background: rgb(47, 120, 82);
  transition: all 0.3s;
  border: 1px solid #f1f5f9;
  font-weight: 500;
}
.atributo:hover {
  color: var(--text);
  text-decoration: underline;
}

.action-buttons {
  border-top: 1px solid #f1f5f9;
  padding-top: 1rem;
  gap: 0.75rem;
  display: flex;
  margin-top: auto;
  flex-wrap: wrap;
}
.action-buttons a {
  background: #f1f5f9;
  color: rgb(20, 20, 20);
  border-radius: 0.5rem;
  padding: 0.75rem;
  outline: none;
  border: none;
  font-size: 1.125rem;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex: 1 0 15rem;
  max-width: 100%;
}
.action-buttons a:hover {
  text-decoration: underline;
}
.action-buttons a.secondary {
  background: inherit;
  color: var(--text);
  border: 1px solid var(--text);
  flex: 1 0 5rem;
}

/*EVENTOS CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
table {
  border-collapse: collapse;
  background: rgb(13, 67, 40);
  color: rgb(240, 240, 240);
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  font-size: 80%;
  caption-side: top;
  border-radius: 10px;
}

.calendario {
  width: fit-content;
  height: auto;
  margin: 0 auto;
}

th, td, tr {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

th, td {
  box-shadow: 0px 0px 3px #f1f5f9;
  border-radius: 10px;
}

th {
  background: rgb(33, 98, 64);
}

tbody tr:nth-child(even) {
  background: rgb(47, 120, 82);
}

#calendario th:hover,
#calendario td:hover {
  box-shadow: 0 0 10px rgb(20, 20, 20);
}

caption {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid rgb(33, 98, 64);
  color: rgb(20, 20, 20);
  background-color: #f1f5f9;
}

/*AGENDAR CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.form {
  width: fit-content;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 50px auto;
  border: 1px solid #f1f5f9;
  box-shadow: 4px 4px 4px rgb(26, 88, 56);
  padding: 25px;
  background-color: rgb(26, 88, 56);
  border-radius: 20px;
  position:  absolute;
  color: #f1f5f9;
}
.form h4 {
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #f1f5f9;
  font-family: andresValencia;
}

.contenedor-1 {
  padding-top: 30px;
  font-family: salonDeBelleza;
}

.group {
  position: relative;
}

.main-input {
  font-size: 1.3rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 50vw;
  border: none;
  border-bottom: 1px solid #6c6c6c;
  background: #f1f5f9;
  color: rgb(20, 20, 20);
  border-radius: 5px;
  box-sizing: border-box;
}
.main-input:focus {
  outline: none;
  border-bottom-color:   #ff731c;
}

.abajoYarribaNONE {
  font-size: 1rem;
  color: #f1f5f9;
}

.abajoYarriba .lebal-email {
  color: #999999;
  font-size: 1.5rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.abajoYarriba .main-input:focus ~ .lebal-email, .abajoYarriba .main-input:valid ~ .lebal-email {
  top: -30px;
  font-size: 1rem;
  color: #f1f5f9;
}

.highlight-span {
  position: absolute;
  height: 60%;
  width: 0px;
  top: 25%;
  left: 0;
  pointer-events: none;
   opacity:  0 0.5;
}

.main-input:focus ~ .highlight-span {
  -webkit-animation: input-focus 0.3s ease;
  animation: input-focus 0.3s ease;
}

.submit {
  margin-top: 1.2rem;
  padding: 2px;
  margin: 5vh;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}

/* SERVICIOS CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#lista-precios {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  background-color: rgb(13, 67, 40);
  border: 2px solid rgb(240, 240, 240);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgb(26, 88, 56);
  color: rgb(240, 240, 240);
}
#lista-precios h3 {
  text-align: center;
  margin-bottom: 30px;
}

.categoria-servicio {
  margin-bottom: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.categoria-servicio h4 {
  margin-bottom: 10px;
  font-family: andresValencia;
}
.categoria-servicio dl {
  list-style: none;
  padding: 0;
  margin: 0;
}
.categoria-servicio .servicio {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 0px rgba(253, 251, 251, 0.2);
}
.categoria-servicio dt {
  padding: 5px;
  margin-left: 0px;
  font-size: 1rem;
  font-family: salonDeBelleza;
}
.categoria-servicio dd {
  padding: 5px;
  margin-right: 0px;
  font-size: 1rem;
  background-color: rgb(33, 98, 64);
  border-color: rgb(240, 240, 240);
  border-radius: 0.5rem;
  font-family: salonDeBelleza;
  box-shadow: 0px 0px 4px #f1f5f9;
}
.categoria-servicio .logoLista {
  width: 100%;
  max-width: 3.5rem;
  background-color: none;
  border: none;
  box-shadow: unset;
  -webkit-filter: drop-shadow(0px 0px 5px rgb(40, 109, 73));
  margin: 10px auto;
}

/* RESPONSIVE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (max-width: 768px) {
  .contenedor {
    background-color: rgb(234, 235, 231);
    font-size: 0.6em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header" "nav" "aside" "main" "footer";
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
  }
  header #titulo {
    display: none;
  }
  header a, header #logo, header .search-banner {
    margin: unset;
  }
  aside {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  aside .carousel {
    object-fit: cover;
  }
  aside .asideimg {
    width: 100%;
    max-width: 7rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .carousel-inner .carousel-item img {
    max-height: 45vh;
  }
  main {
    width: 99%;
  }
  main article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  main article .fotoPerfil {
    margin: 0 auto;
    width: 100%;
  }
  main #bienvenida {
    display: flex;
    flex-direction: column;
  }
  main .calendario {
    font-size: 70%;
  }
}
@media (min-width: 769px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header header header" "nav nav nav" "aside main main" "aside main main" "footer footer footer";
  }
  aside {
    width: 15vw;
    height: fit-content;
  }
}

/*# sourceMappingURL=styles.css.map */
